body {
    margin: 0;
    font-family: 'Underdog', sans-serif;
    background-color: #050505;
    color: #ffffff;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  header, footer {
    background-color: rgb(42, 42, 49);
    padding: 1em;
    text-align: center;
  }
  
  nav a {
    margin: 0 1em;
    font-weight: bold;
  }
  
  section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
  }
  
  button {
    background-color: rgb(42, 42, 49);
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    margin-top: 1em;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #ffffff;
    color: #050505;
  }
  